#Layout{
max-width: 750px;
width: 100%;
margin: 5 auto;
}

#ask
{
 margin-bottom: 10px;
}

#teste
{
border: 2px solid #B22222;
border-radius: 5px;
}

#readmore
{
    color: #006600;
} 

#grad {
    background-image: linear-gradient(green, white);

    background-repeat: no-repeat;
        background-size: 20000px 220px;
}

#divline
{
    border-top: 1px solid #8c8b8b;
    opacity : 0.5
} 

#shadow {
box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);

}

.container {
	margin-top: 0;
       
}

.title
{
	color: #006600;
} 


.margin-body
{
  margin-left: 35px;
  margin-right: 35px;
  line-height: 1;

}


.img-tiny
{
	 width: 100%;  
     margin-top: 28px; 
}

.rounded-bottom
{
		width: 100% ;
}
.img-large
{
	width: 100% ;

}


h2{
    text-shadow: rgba(50, 50, 50, 0.75) 2px 2px 2px;
    }


/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: green;
}

